/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #1d0ef1;
    margin: 0;
    padding: 0;
}

h1 {
    color: #e01d1d;
}

h2 {
    color: #555;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

form {
    margin-top: 20px;
    padding: 20px;
    background-color: #17f723;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}
