/* accounts.css */
.account-summary {
    font-family: 'Courier New', Courier, monospace;
    color: green;
    background-color: lightgray;
    padding: 20px;
    border: 2px solid #333;
}

.account-item {
    font-size: 16px;
    margin-bottom: 8px;
}
footer {
    background-color: #f1f1f1;
    padding: 4px;
    text-align: center;
    color: #000000;
    font-size: 20px; /* Increase this to make the font larger */
    border-top: 10px solid #ddd;
    position: fixed;
    bottom: 0;
    width: 100%;
}